@use '@/styles/typography' as Typography;
@use '@/styles/colors' as Colors;

.placeholder {
  position: absolute;
  left: 1.25rem;
  top: 5.125rem;
  pointer-events: none;
  user-select: none;

  &.updatedState {
    top: 1.125rem;
  }

  &:empty::before {
    color: Colors.$font-gray-400;
    content: attr(data-placeholder);
    cursor: text;
    pointer-events: none;
    position: relative;
  }
}
