// 공통
$white: #fff;

// Font
$font-gray-400: #b4b4b4;
$font-gray-500: #a7a7a7;
$font-gray-700: #5d5d5d;
$font-black: #0d0d0d;

$font-link: #2964aa;
$font-error: #f93a37;

// Border
$border-light: rgba(0, 0, 0, 0.1);
$border-error: #ffdbd9;

// Surface
$surface-gray-100: #f2f4f6;
$surface-gray-500: #b0b8c1;
$surface-gray-800: #333d4b;
$surface-black: #000000;

$surface-error: #fff5f5;
