$typography-size-map: (
  'xs': 0.75rem,
  'sm': 0.875rem,
  'lg': 1.25rem,
);

@mixin Typography(
  $font-family,
  $size,
  $weight,
  $line-height,
  $letter-spacing,
  $text-align
) {
  font-family: $font-family;
  font-size: map-get($typography-size-map, $size);
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-align: $text-align;
}

@mixin Typography-kr(
  $size,
  $weight,
  $line-height,
  $letter-spacing,
  $text-align
) {
  @include Typography(
    var(--font-Noto-Sans-KR),
    $size,
    $weight,
    $line-height,
    $letter-spacing,
    $text-align
  );
}

@mixin xs-regular {
  @include Typography-kr('xs', 400, 1rem, 0, left);
}

@mixin sm-regular {
  @include Typography-kr('sm', 400, 1.25rem, 0, left);
}

@mixin lg-semi {
  @include Typography-kr('lg', 600, 1.75rem, 0, left);
}
