@use '@/styles/typography' as Typography;
@use '@/styles/colors' as Colors;

.container {
  position: relative;
  height: calc(100vh - 4.5rem);
  background: Colors.$white;
  border-radius: 20px;

  .main {
    max-width: 45rem;
    margin: 0 auto;
  }

  .formWrapper {
    position: fixed;
    bottom: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 45rem;
    margin: 0 auto;
    background: Colors.$white;

    &.updatedState {
      bottom: 0;
    }

    h2 {
      @include Typography.xlg-semi;
      margin-bottom: 1.75rem;
    }

    .notice {
      @include Typography.xs-regular;
      color: Colors.$font-gray-500;
      padding: 0.5rem 60px;
      text-align: center;
    }
  }
}
